@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;500;700&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
}

.wrap {
    height: 100vh;
}

.black {
    background: #000;
    color: white;
    font-family: 'poppins', sans-serif;
    height: 70%;
    width: 100%;
}

.white {
    background: #fff;
    height: 30%;
    width: 100%;
}

.header {
    /* border: 1px solid white; */
    width: 100%;
    margin: auto;
    padding-top: 120px;
    text-align: center;
}

.archan {
    margin: 0;
    font-size: 72px;
    background: linear-gradient(to right, #0033cc 0%, #ff00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: archan;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.monsterat {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border: 1px solid orangered;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    background: linear-gradient(to right, #ff3300 0%, #ff6666 100%);
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
}

.apple {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 0 60px 0;
}

.head {
    /* border: 1px solid white; */
    padding: 2px 0 2px 10px;
    border: 1x solid orangered;
    border-radius: 15px;
}

.head-1 {
    padding-left: 1rem;
}

.padding {
    padding: 1rem;
}

.border {
    border: 2x solid orangered;
    border-radius: 15px;
}

.link {
    text-decoration: none;
    color: rgb(255, 136, 0);
}

.link:hover {
    text-decoration: underline;
}

.img {
    height: 300px;
    width: auto;
    position: relative;
    float: right;
    clear: left;
    margin: 0 40px 49px 0;
}

.para {
    /* border: 1px solid black; */
    color: rgb(78, 78, 78);
    font-family: 'Poppins', 'monsterat';
    width: 680px;
    padding: 90px 189px 111px 109px;
}

hr {
    width: 90%;
    margin: 0 0 49px 68px;
}

.container {
    border: 2px solid orangered;
    width: 360px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0px 0 19px 64px;
    border-radius: 9px;
    padding: 10px;
}

.container img {
    height: 200px;
    width: auto;
    border-radius: 9px;
    box-shadow: 0px 0px 13px 0 #0000005e;
}

.container h1 {
    /* border: 1px solid black; */
    margin: 17px 0 18px 0;
    font-size: 25px;
}

.container p {
    font-size: 16px;
    color: #505050;
}

.btn {
    color: white;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 15px;
}

.flexbox {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 0 0 47px;
}

.hr2 {
    display: none;
}

@media (max-width: 380px) {
    .header {
        margin: 0px;
    }
    .black {
        height: 400px;
    }
    .archan {
        font-size: 40px;
    }
    hr {
        /* display: none; */
        width: 250px;
    }
    .apple {
        /* display: none; */
    }
    .img {
        /* display: none; */
        width: auto;
        margin: 0 22px 24px 0;
        height: 181px;
    }
    .para {
        display: block;
        /* border: 1px solid black; */
        text-align: center;
        padding: 0;
        width: 250px;
        font-size: 14px;
        margin: auto;
    }
    .white {
        /* display: none; */
    }
    .container {
        display: initial;
        width: 250px;
        margin: 340px 0 -294px 14px;
    }
    .wrap {
        /* display: none; */
    }
    .hr1 {
        /* display: none; */
        width: 180px;
    }
    .hr2 {
        display: none;
    }
    .hr3 {
        display: none;
    }
    .container img {
        height: 135px;
        width: auto;
    }
}