@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 253, 253);
}

.bg-black {
    background-color: black;
    height: 720px;
}

.back button {
    background-color: orangered;
    padding: 5px 30px;
    margin: 20px;
    font-size: 15px;
    font-family: 'DM sans', sans-serif;
    border-radius: 2px;
    border: 1px solid orangered;
    outline: none;
    cursor: pointer;
    transition: .15s ease;
    font-weight: 500;
    letter-spacing: 1px;
}

@keyframes fade {
    0% {
        opacity: 0;
        font-size: 40px;
    }
    100% {
        opacity: 100%;
        font-size: 50px;
    }
}

@keyframes fade-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.back button:hover {
    background-color: transparent;
    border: 1px solid orangered;
    padding: 5px 30px;
    font-weight: bold;
    color: orangered;
    letter-spacing: 1px;
}

.title {
    display: block;
    text-align: center;
    /* border: solid white; */
    width: 972px;
    margin: auto;
    padding: 200px 0;
}

.title-first {
    color: white;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 55px;
    animation: fade;
    animation-duration: 1s;
}

.title-second {
    font-size: 50px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(206, 0, 251, 1) 0%, rgba(0, 65, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    animation: fade;
    animation-duration: 2s;
}

.title-last {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    animation: fade-2;
    animation-duration: 7s;
    color: white;
}

.title-last a {
    color: white;
    text-decoration: none;
}

.title-last a:hover {
    text-decoration: underline;
}

.mid {
    text-align: center;
}

.mid-img-1 {
    width: 700px;
    margin: 20px 0;
}

.mid-img-para {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 2;
    font-size: 14px;
    color: #575757;
    /* border: solid black; */
    text-align: left;
    width: 700px;
    margin: auto;
}

.mid-h4 {
    font-family: "Dm Sans", sans-serif;
    width: 700px;
    font-size: 16px;
    font-weight: 700;
    color: #4d4d4d;
    margin: auto;
    margin: 20px auto;
    width: 700px;
    text-align: left;
}

.mid-img {
    width: 700px;
    margin: 10px auto;
}

@media (max-width: 768px) {
    .bg-black {
        height: 500px;
    }
    .back button {
        font-size: 10px;
        padding: 5px 10px;
        margin: 5px;
    }
    .title {
        width: 301px;
        padding: 182px 0;
    }
    .title-first {
        font-size: 12px;
        margin: auto;
        text-align: center;
    }
    .title-second {
        font-size: 15px;
    }
    .title-last {
        font-size: 13px;
    }
    .mid-img-1 {
        width: 350px;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.103);
    }
    .mid-img-para {
        width: 375px;
        margin: auto;
        font-size: 12px;
        /* border: solid black; */
        text-align: center;
    }
    .mid-img {
        width: 350px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.103);
    }
    .mid-h4 {
        width: 200px;
        text-align: center;
    }
    @keyframes fade {
        0% {
            opacity: 0;
            font-size: 10px;
        }
        100% {
            opacity: 100%;
            font-size: 15px;
        }
    }
    @keyframes fade-2 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100%;
        }
    }
}

@media (min-width: 769px) and (max-width: 969px) {
    .bg-black {
        height: 500px;
        width: 972px;
    }
    .title {
        padding: 90px 0;
    }
    .title-second {
        font-size: 40px;
    }
    .mid-img-1 {
        width: 600px;
        margin: 20px 186px;
    }
    .mid-img-para {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        line-height: 2;
        font-size: 14px;
        color: #575757;
        /* border: solid black; */
        text-align: left;
        width: 617px;
        margin: 0 180px;
    }
    .mid-h4 {
        font-family: "Dm Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #4d4d4d;
        margin: 20px 182px;
        width: 600px;
        text-align: center;
    }
    .mid-img {
        width: 600px;
        margin: 20px 186px;
    }
    @keyframes fade {
        0% {
            opacity: 0;
            font-size: 30px;
        }
        100% {
            opacity: 100%;
            font-size: 40px;
        }
    }
    @keyframes fade-2 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100%;
        }
    }
}


}